a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: #F5C9FF;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

mat-sidenav {
    width: 300px;
}


mat-icon {
    font-size: 30px;
    color: white;
}

.cart_value {
    position: absolute;
    top: 0%;
    right: 28%;
    background-color: red;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0px 10px 0px 10px;
}